@font-face {
	font-family: open_sans_semibold;
	src: url(fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: open_sans_light;
	src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: open_sans_regular;
	src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: open_sans_bold;
	src: url(fonts/OpenSans-Bold.ttf);
}
